body {
    background-color: white;
}

h1 {
    font-family: Times New Roman;
    font-size: 50px;
    text-align: center;
}
p {
    font-family: helvetica;
    font-size: 20px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 10px;
    grid-row-gap: 50px;


    background-color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;    
    font-family: helvetica;
    font-size: 10px;
    text-align: center;
}

.container {
    padding: auto;
    margin: auto;
  display: table;
  text-align: center;
  width: 70%;

}
.row {
    text-align: center;
}
