body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

nav p {
    font-family: helvetica;
    font-size: 20px;
    text-align: left;

}

p {
    font-family: helvetica;
    font-size: 20px;
    text-align: center;
}
ul {
    font-family: helvetica;
    font-size: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

nav li {
    float: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #ff4c4c;
    color: white;
}


li a:hover:not(.active) {
    background-color: #ff6666;
    color: white;
}

li a:hover {
    background-color: #ff9999;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 10px;
    grid-row-gap: 50px;

    background-color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;    
    font-family: helvetica;
    font-size: 10px;
    text-align: center;
}

.container {
    padding: auto;
    margin: auto;
  display: table;
  text-align: center;
  width: 70%;

}
.row {
    text-align: center;
}
