body {
    background-color: lightpink;
}

h1 {
    color: black;
    text-align: center;
    border-color: black;
    border-width: 3px;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
ul {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    text-align: center;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
    color: white;
}

.active {
    background-color: red;
    color: white;
}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}

